<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="relay-hosting.secureserver.net" userName="" password=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add connectionString="data source=.\SQLEXPRESS; initial catalog=ASEXPORT; user id=sa;password=2016; " name="connectionstring1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>